
  h3 {
    margin: 0 0 10px;
  }

  #calender {
    padding-top: 15px;
  }

  #weekview {
    max-height: 80vh;
  }

  #dayview {
    max-height: 80vh;
  }
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }

